<div class="ui inverted vertical footer segment">
  <div class="ui center aligned text container">
    <div class="ui inverted segment">
      <i class="large link facebook icon"></i>
      <i class="large link instagram icon"></i>
      <i class="large link pinterest icon"></i>
      <i class="large link twitter icon"></i>
      <i class="large link snapchat icon"></i>
    </div>
    <div class="ui small header">
      Desenvolvido por UFMG Student Chapter
    </div>
  </div>
</div>
