<div class="ui borderless main menu">
  <div class="ui container">
    <a href="/" class="header item">
      <i class="home icon"></i>
      UFMG Student Chapter
    </a>
    <a href="/courses" class="item"> <i class="book icon"></i> Cursos </a>
    <a href="/contact" class="item"> <i class="mail envelope outline icon"></i> Contato </a>
    {{#if currentUser}}
      <a href="/admin" class="item"> <i class="dashboard icon"></i> Painel de Controle </a>
    {{/if}}
    <div class="right menu">
      {{#if currentUser}}
        <div class="item">Iniciou a sessão como &nbsp;<b> {{currentUser.username}}</b></div>
        <a href="/admin/logout" class="item"> <i class="sign out icon"></i> Sair</a>
      {{/if}}
    </div>
  </div>
</div>
