<div class="ui container">
	<div class="ui vertical center aligned segment">
		<div class="ui text container">
			<img class="ui image" src="/img/chapter-logo.jpeg" alt="UFMG STUDENT CHAPTER">
		</div>
	</div>
	<div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column justified">
          <h3 class="ui header">Missão</h3>
          <p>Facilitar a integração de jovens profissionais e de tecnologias no setor siderúrgico brasileiro, contribuindo para a acquisição de conhecimento técnico, fortalecimento de Networking e valorização de instituições de ensino brasileiras.</p>
          <h3 class="ui header">Visão</h3>
          <p>Ser um mecanismo reconhecido através do qual engenheiros promissores têm a oportunidade de participar efetivamente da AIST.</p>
        </div>
        <div class="six wide right floated column">
          <i class="orange massive users icon"></i>
          <i class="blue massive student icon"></i>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>
  </div>
</div>
