<div class="ui grid container">
    <div class="three wide column">
      <div class="ui secondary vertical pointing fluid menu">
        <a href="/admin/courses" class="active item">
          Cursos
        </a>
        <a href="/admin/courses" class="item">
          TODO
        </a>
        <a href="/admin/courses" class="item">
          TODO
        </a>
      </div>
    </div>
    <div class="thirteen wide column">
      <div class="ui form">
        <div class="field">
          <input type="text" name="first-name" placeholder="First name">
        </div>
        <div class="field">
          <textarea placeholder="Some example text..."></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
